.pad_for_s_bar{
    padding-top: 10px;
}

.nav_ground{
    background-color: #222222;
    padding-bottom: 0;
}

.nav-space{
    padding-right: 0.5rem;
}

.nav-space-last{
    padding-right: 38px;
}

.nav-space-searchbar{
    padding-right: 50px;
}

.cus-link {
    display: block;
    padding: 0.5rem 1rem;
    margin-top: 12px;
    color: #bbbbbb;
    font-family: "AwanZaman-Regular", sans-serif;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-size: 0.9rem;
}
.cus-link-button{
    background-color: #222222;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0;
}

@media (prefers-reduced-motion: reduce) {
    .cus-link {
        transition: none;
    }
}
.cus-link:hover, .cus-link:focus {
    color: #DE3C1C;
}
.cus-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.l_active{
    color: #DE3C1C;
}

.cus-brand {
    padding-bottom: 6px;
    padding-right: 20px;
    margin-left: 45px;
    margin-right: 50px;
    font-size: 1.75rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Margon 380 W08 Regular", serif;
    color: white;
    border-top: 2px solid transparent;
    border-right: 1px solid rgba(115,115,115,0.35);
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.cus-brand:hover{
    color: white;
}

@media (max-width: 410px){
    .cus-brand{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        font-size: 1.25rem;
    }
}

.admin-brand{
    padding-bottom: 6px;
    margin-left: 0.5rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Margon 380 W08 Regular", serif;
    color: white;
}

.admin-brand:hover{
    color: white;
}

.cus-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0.06rem solid;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    color: rgba(255, 255, 255, 0.55);
}

.cus-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media (prefers-reduced-motion: reduce) {
    .cus-toggler {
        transition: none;
    }
}
.cus-toggler:hover {
    text-decoration: none;
}
.cus-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.15rem;
}

@media (min-width: 1400px) {
    .navbar-expand-xxl .cus-toggler {
        display: none;
    }
}

.cus-toggler .cus-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-search-bar {
    color: white;
    border-color: white;
}
.btn-search-bar:hover {
    color: #DE3C1C;
    background-color: #222222;
    border-color: white;
}

.bg-search-bar{
    color: white;
    background-color: #222222;
    border: white 0.025rem solid;
    border-radius: 0px;
}

.bg-search-bar:focus{
    color: white;
    background-color: #222222;
    border-color: white;
    box-shadow: 0 0 0 0;
}

.footer {
    background-color: #2D2D2D;
    width: 100%;
    padding-top: 50px;
    margin-top: auto;
    position: relative;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-pp-col{
    width: 100%;
    padding-top: 15px;
}

.footer-col h4 {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family: "Margon 380 W08 Regular", serif;
    font-size: 1.275rem;
    margin-left: 1.45rem;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #DE3C1C;
    height: 1px;
    box-sizing: border-box;
    width: 40px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #919999;
    display: block;
    transition: all 0.3s ease;
    margin-left: 15px;
}

.footer-col ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #919999;
    display: block;
    transition: all 0.3s ease;
    margin-left: 15px;
}

.footer-col ul li a:hover {
    color: #DE3C1C;
    padding-left: 8px;
}

.footer-col ul li{
    list-style: none;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media (max-width: 1364px) {
    .footer{
        background-color: #2D2D2D;
        width: 100%;
        padding-top: 75px;
        margin-top: auto;
        position: relative;
    }
}

.footer-brand{
    font-size: 1.75rem;
    text-decoration: none;
    font-family: "Margon 380 W08 Regular", serif;
    color: white;
}

.footer-pp{
    padding-top: 50px;
    color: #919999;
}

.footer-pp-a{
    text-decoration: none;
    color: #DE3C1C;
}

.footer-pp-a:hover{
    color: white;
}

.s-media-btn{
    padding-top: 0;
}

@media (max-width: 768px) {
    .s-media-btn{
        padding-top: 40px;
    }
}

.second-footer{
    background-color: #222222;
    padding-bottom: 20px;
    padding-top: 10px;
}

.first-footer{
    padding-bottom: 30px;
}

.form-container-style{
    padding-top: 50px;
    padding-bottom: 75px;
    font-family: 'Le Monde Livre Classic Std', serif;
}

.form-container-style .form-title{
    font-size: 2.75rem;
    text-align: center;
}

.btn-cus{
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sign-in{
    height: 75%;
    background-color: #DE3C1C;
    color: white;
    font-family: "AwanZaman-Regular", sans-serif;
    font-size: 1rem;
}

.btn-sign-in:hover{
    background-color: #A1A1A1;
    color: white;
}

.li-sign-in{
    padding-top: 7px;
}

.li-after-sign-in{
    padding-top: 10px;
    padding-left: 25px;
}

.btn-submit{
    width: 45%;
    height: 45px;
    border: solid white ;
}

.btn-submit-color {
    color: white;
    background-color: #DE3C1C;
}

.btn-submit-color:hover {
    background-color: white;
    color: #DE3C1C;
    text-decoration: none;
    border-color: #DE3C1C;
}

.btn-user-icon{
    color: white;
    background-color: #DE3C1C;
}

.btn-user-icon:hover {
    background-color: white;
    color: #DE3C1C;
    text-decoration: none;
    border-color: #DE3C1C;
}

.dropdown-cus{
    border-radius: 0;
}

.textarea-size {
    height: 150px;
}

.form-cus{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-cus, .datatable-input {
        transition: none;
    }
}
.form-cus[type=file]{
    overflow: hidden;
}
.form-cus[type=file]:not(:disabled):not([readonly]){
    cursor: pointer;
}

.form-cus::-webkit-date-and-time-value{
    height: 1.5em;
}
.form-cus::-moz-placeholder{
    color: #6c757d;
    opacity: 1;
}
.form-cus::placeholder{
    color: #6c757d;
    opacity: 1;
}
.form-cus:disabled{
    background-color: #e9ecef;
    opacity: 1;
}
.form-cus::file-selector-button{
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-cus::file-selector-button{
        transition: none;
    }
}
.form-cus:hover:not(:disabled):not([readonly])::file-selector-button{
    background-color: #dde0e3;
}

.form-cus-plaintext {
    display: block;
    width: 100%;
    padding: 0.375rem 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
}
.form-cus-plaintext:focus {
    outline: 0;
}
.form-cus-plaintext.form-cus-sm{
    padding-right: 0;
    padding-left: 0;
}

.form-cus-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
}
.form-cus-sm::file-selector-button {
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    -webkit-margin-end: 0.5rem;
    margin-inline-end: 0.5rem;
}

.form-cus-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}
.form-cus-lg::file-selector-button {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
}

textarea.form-cus, textarea.datatable-input {
    min-height: calc(1.5em + 0.75rem + 2px);
}
textarea.form-cus-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
}
textarea.form-cus-lg {
    min-height: calc(1.5em + 1rem + 2px);
}

.form-cus-color {
    width: 3rem;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem;
}
.form-cus-color:not(:disabled):not([readonly]) {
    cursor: pointer;
}
.form-cus-color::-moz-color-swatch {
    border: 0 !important;
    border-radius: 0.375rem;
}
.form-cus-color::-webkit-color-swatch {
    border-radius: 0.375rem;
}
.form-cus-color.form-cus-sm {
    height: calc(1.5em + 0.5rem + 2px);
}
.form-cus-color.form-cus-lg {
    height: calc(1.5em + 1rem + 2px);
}

.login-form{
    border-radius: 0;
    border-color: transparent;
}

.login-title-c{
    margin-left: 145px;
}

.register-title-c{
    margin-left: 131px;
}

.modal-border-removal{
    border: none;
}

.input-group-addon {
    background-color: white;
    border: 1px solid #ced4da;
    padding-top: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.55rem;
    border-radius: 0.375rem;
    border-right: none;
}

.login-inputbox{
    border-left: none;
}

.mlm .form-control:focus{
    border-left: 0;
    box-shadow: none;
    border: none;
}

.mlm:focus-within{
    border: 2px solid #DE3C1C;
    border-radius: 0.375rem;
    .input-group-addon{
        border: none;
        color: #DE3C1C;
    }
}

.btn-sign{
    margin: 0 0 10px 0;
    background-color: #DE3C1C;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.btn-sign:hover{
    background-color: #A1A1A1;
}

.blue-link{
    font-size: 14px;
    margin-left: 5px;
    color: dimgray;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: white;
}

.blue-link:hover{
    color: #DE3C1C;
    text-decoration: underline #DE3C1C;
}

.item-title-detail{
    font-family: "FreightBigProBook-Regular",serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
}

.item-detail-container-box{
    padding-left: 58px;
    padding-right: 48px;
}

.item-detail-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.item-detail-left{
    box-sizing: border-box;
    text-align: center;
    border-radius: 7px;
    transition: .4s;
    margin-left: -90px;
}

.item-detail-img{
    width: 100%;
    margin: 0 30px 15px 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: .4s;
}

.item-bid-box{
    border-top: 2px #DE3C1C solid;
    border-left: 1px #D2D9E1 solid;
    border-right: 1px #D2D9E1 solid;
    border-bottom: 1px #D2D9E1 solid;
    transition: .4s;
    background: white;
    padding: 20px 20px;
    margin: 17px 0 50px 20px;
}

.bid-font1{
    font-family: "Basis Grotesque Arabic Pro",monospace;
    font-size: .625rem;
    font-weight: 400;
    letter-spacing: .05625rem;
    line-height: 1.2;
}

.bid-font2{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.2777777778;
}

.bid-font3{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2857142857;
}

.about-us-container{
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 55px;
    margin-bottom: 55px;
}

.about-us-description{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: 1.075rem;
    font-weight: 400;
    line-height: 1.2857142857;
}

.smaller-about-us-description{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: .895rem;
    font-weight: 400;
    line-height: 1.2857142857;
    color: #6c757d;
}

.contacts-description{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: .945rem;
    font-weight: 400;
    line-height: 1.2857142857;
    color: #6c757d;
}

.contacts-link{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: .9845rem;
    font-weight: 400;
    line-height: 1.2857142857;
    color: #DE3C1C;
    text-decoration: none;
}

.contacts-link:hover{
    color: rgb(128, 128, 128);
}

.contacts-link-position{
    padding-top: 10px;
}

.about-us-icon-title{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: 1.425rem;
    font-weight: 400;
    line-height: 1.2857142857;
}

.about-us-icons{
    color: #DE3C1C;
    font-size: 35px;
}

.item-description{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: 1.0625rem;
    line-height: 1.4705882353;
    font-weight: bold;
}

.bid-input{
    color: black;
    background-color: #D2D9E1;
    border: white 0.025rem solid;
    border-radius: 0px;
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    height: 50px;
}

.bid-input::placeholder{
    color: dimgray;
}

.bid-input:focus{
    color: #DE3C1C;
    background-color: #D2D9E1;
    border: #DE3C1C 1px solid;
    border-radius: 0px;
    box-shadow: 0 0 0 0;
}

.btn-bid{
    margin-top: 15px;
    border: 0.0625rem solid #d2d9e1;
    height: 3.25rem;
    width: 112px;
    text-align: center;
    border-radius: 0;
    color: white;
    background-color: #DE3C1C;
}

.btn-bid:hover{
    color: #DE3C1C;
    border: #DE3C1C 1px solid;
}

.btn-start-auction{
    margin-top: 15px;
    border: #DE3C1C 1px solid;
    height: 3.25rem;
    width: 130px;
    text-align: center;
    border-radius: 0;
    color: #DE3C1C;
    background-color: white;
}

.btn-start-auction:hover{
    color: white;
    border: 0.0625rem solid #d2d9e1;
    background-color: #DE3C1C;
}
.latest-bidder{
    font-weight: 700;
}

.bid-tr{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: .8125rem;
    line-height: 1.2307692308;
    color:#565b60;
}

.bid-price{
    text-align: right;
}

.item-detail-title{
    font-family: "Basis Grotesque Arabic Pro",monospace;
    font-size: .7775rem;
    font-weight: 500;
    letter-spacing: .0625rem;
    color: #565b60;
    text-transform: uppercase;
}

.verified-item-icon{
    color: forestgreen;
}

.unverified-item-icon{
    color: darkred;
}

.lil-bro-be-flexing{
    background-color: #222222;
    color: white;
    padding-top: 65px;
    padding-bottom: 80px;
}

.num-font-for-lilbro{
    font-family: "Basis Grotesque Arabic Pro",monospace;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: .0625rem;
}

.font-for-lilbro{
    font-family: "Basis Grotesque Arabic Pro",serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .0625rem;
}

.contacts-map{
    width: 100%;
    height: 650px;
}

.contacts-form-title{
    font-size: 2.25rem;
    color: #6c757d;
}

.form-label{
    color: #6c757d;
}

.cus-card{
    border-radius: 0;
    border-color: white;
}

.cus-card-body{
    padding-left: 0;
}


.cus-card-title{
    font-family: "Basis Grotesque Arabic Pro", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.5;
    font-weight: bold;
    color: #222222;
}

.cus-card-current-bid{
    font-family: "Basis Grotesque Arabic Pro",monospace;
    font-size: .7875rem;
    font-weight: 400;
    letter-spacing: .0625rem;
    line-height: 1.1818181818;
    margin-top: 0.75rem;
    text-transform: uppercase;
    color: #565b60;
}

.cus-card-bid-amount{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: 1.1875rem;
    line-height: 1.2631578947;
    margin-bottom: 20px;
    color: #222222;
    font-weight: 600;
}

.cus-card-timer{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 1.2666666667;
    color: #919397;
}

.cus-card-link-decoration{
    text-decoration: none;
}

.pagination-btn{
    background-color: #DE3C1C;
    height: 52px;
    width: 190px;
    color: white;
    text-align: center;
}

.cus-page-link{
    color: #222222;
    border: 0 transparent;
}

.cus-page-link:hover{
    color: #DE3C1C;
}

.page-item:first-child .cus-page-link {
    border-radius: 0;
    background-color: #DE3C1C;
    color: white;
}

.page-item:last-child .cus-page-link {
    border-radius: 0;
    background-color: #DE3C1C;
    color: white;
}

.page-item:first-child .cus-page-link:hover{
    color: #DE3C1C;
    background-color: white;
    border: 1px solid #DE3C1C;
}

.page-item:last-child .cus-page-link:hover{
    color: #DE3C1C;
    background-color: white;
    border: 1px solid #DE3C1C;
}

.sort-by-font{
    font-family: "Basis Grotesque Arabic Pro",sans-serif;
    font-weight: 590;
    margin-top: 20px;
}

.dropdown-toggle-cus{
    border-style: none;
    padding-left: 10px;
    padding-bottom: -15px;
    background-color: transparent;
    font-family: "FreightBigProBook-Regular", sans-serif;
}

.masthead {
    background: url('/storage/wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 60vh;
    color: white;
    margin-top: -8px;
}

@media(max-width: 768px)
{
    .masthead
    {
        min-height: 30vh;
    }
}

