.pad_for_s_bar{
    padding-top: 10px;
}

.nav_ground{
    background-color: #222222;
}

.cus-link {
    display: block;
    padding: 0.5rem 1rem;
    margin-top: 12px;
    color: #bbbbbb;
    font-family: "AwanZaman-Regular", sans-serif;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-size: 0.8rem;
}
@media (prefers-reduced-motion: reduce) {
    .cus-link {
        transition: none;
    }
}
.cus-link:hover, .cus-link:focus {
    color: #DE3C1C;
}
.cus-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.l_active{
    color: #DE3C1C;
}

.cus-brand {
    padding-bottom: 6px;
    margin-left: 3.05rem;
    margin-right: 3rem;
    font-size: 1.75rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Margon 380 W08 Regular", serif;
    color: white;
}

@media (max-width: 410px){
    .cus-brand{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        font-size: 1.25rem;
    }
}

.cus-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0.06rem solid;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    color: rgba(255, 255, 255, 0.55);
}

.cus-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media (prefers-reduced-motion: reduce) {
    .cus-toggler {
        transition: none;
    }
}
.cus-toggler:hover {
    text-decoration: none;
}
.cus-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.15rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .cus-toggler {
        display: none;
    }
}

.cus-toggler .cus-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-search-bar {
    color: white;
    border-color: white;
}
.btn-search-bar:hover {
    color: #DE3C1C;
    background-color: #222222;
    border-color: white;
}

.bg-search-bar{
    color: white;
    background-color: #222222;
    border: white 0.025rem solid;
    border-radius: 0px;
}

.bg-search-bar:focus{
    color: white;
    background-color: #222222;
    border-color: white;
    box-shadow: 0 0 0 0;
}

.footer {
    background-color: #2D2D2D;
    width: 100%;
    padding-top: 50px;
    margin-top: auto;
    position: relative;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-pp-col{
    width: 100%;
    padding-top: 15px;
}

.footer-col h4 {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family: "Margon 380 W08 Regular", serif;
    font-size: 1.275rem;
    margin-left: 1.45rem;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #DE3C1C;
    height: 1px;
    box-sizing: border-box;
    width: 40px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #919999;
    display: block;
    transition: all 0.3s ease;
    margin-left: 15px;
}

.footer-col ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #919999;
    display: block;
    transition: all 0.3s ease;
    margin-left: 15px;
}

.footer-col ul li a:hover {
    color: #DE3C1C;
    padding-left: 8px;
}

.footer-col ul li{
    list-style: none;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media (max-width: 1364px) {
    .footer{
        background-color: #2D2D2D;
        width: 100%;
        padding-top: 75px;
        margin-top: auto;
        position: relative;
    }
}

.footer-brand{
    font-size: 1.75rem;
    text-decoration: none;
    font-family: "Margon 380 W08 Regular", serif;
    color: white;
}

.footer-pp{
    padding-top: 50px;
    color: #919999;
}

.footer-pp-a{
    text-decoration: none;
    color: #DE3C1C;
}

.footer-pp-a:hover{
    color: white;
}

.s-media-btn{
    padding-top: 0;
}

@media (max-width: 768px) {
    .s-media-btn{
        padding-top: 40px;
    }
}

.second-footer{
    background-color: #222222;
    padding-bottom: 20px;
    padding-top: 10px;
}

.first-footer{
    padding-bottom: 30px;
}